VirtualDub.Open("%filename%","",0);
VirtualDub.audio.SetSource(1);
VirtualDub.audio.SetMode(0);
VirtualDub.audio.SetInterleave(1,500,1,0,0);
VirtualDub.audio.SetClipMode(1,1);
VirtualDub.audio.SetEditMode(1);
VirtualDub.audio.SetConversion(0,0,0,0,0);
VirtualDub.audio.SetVolume();
VirtualDub.audio.SetCompression();
VirtualDub.audio.EnableFilterGraph(0);
VirtualDub.video.SetInputFormat(0);
VirtualDub.video.SetOutputFormat(7);
VirtualDub.video.SetMode(3);
VirtualDub.video.SetSmartRendering(0);
VirtualDub.video.SetPreserveEmptyFrames(0);
VirtualDub.video.SetFrameRate2(0,0,1);
VirtualDub.video.SetIVTC(0, 0, 0, 0);
VirtualDub.video.SetCompression();
VirtualDub.video.filters.Clear();
VirtualDub.video.filters.Add("Deshaker v3.1");
VirtualDub.video.filters.instance[0].Config("19|1|30|4|1|0|1|0|640|480|1|2|3000|4000|1000|1000|4|1|1|2|8|30|300|4|C:\\Users\\uhi\\AppData\\Local\\Deshaker\\Deshaker.log|0|1|400|400|200|200|0|0|0|0|0|0|0|1|25|25|5|15|1|1|30|30|0|0|1|0|1|1|1|10|1000|1|88|1|0|20|5000|80|20|0|0|ff00ff");
VirtualDub.audio.filters.Clear();
VirtualDub.subset.Clear();
VirtualDub.subset.AddRange(0,5010);
VirtualDub.video.SetRange();
VirtualDub.project.ClearTextInfo();
  // -- $reloadstop --
VirtualDub.RunNullVideoPass();
VirtualDub.audio.SetSource(1);
VirtualDub.Close();

VirtualDub.Open("%filename%","",0);
VirtualDub.audio.SetSource(1);
VirtualDub.audio.SetMode(0);
VirtualDub.audio.SetInterleave(1,500,1,0,0);
VirtualDub.audio.SetClipMode(1,1);
VirtualDub.audio.SetEditMode(1);
VirtualDub.audio.SetConversion(0,0,0,0,0);
VirtualDub.audio.SetVolume();
VirtualDub.audio.SetCompression();
VirtualDub.audio.EnableFilterGraph(0);
VirtualDub.video.SetInputFormat(0);
VirtualDub.video.SetOutputFormat(7);
VirtualDub.video.SetMode(3);
VirtualDub.video.SetSmartRendering(0);
VirtualDub.video.SetPreserveEmptyFrames(0);
VirtualDub.video.SetFrameRate2(0,0,1);
VirtualDub.video.SetIVTC(0, 0, 0, 0);
VirtualDub.video.SetCompression();
VirtualDub.video.filters.Clear();
VirtualDub.video.filters.Add("Deshaker v3.1");
VirtualDub.video.filters.instance[0].Config("19|2|30|4|1|0|1|0|640|480|1|2|3000|4000|1000|1000|4|1|1|2|8|30|300|4|C:\\Users\\uhi\\AppData\\Local\\Deshaker\\Deshaker.log|0|1|400|400|200|200|0|0|0|0|0|0|0|1|25|25|5|15|1|1|30|30|0|0|1|0|1|1|1|10|1000|1|88|1|0|20|5000|80|20|0|0|ff00ff");
VirtualDub.audio.filters.Clear();
VirtualDub.subset.Clear();
VirtualDub.subset.AddRange(0,5010);
VirtualDub.video.SetRange();
VirtualDub.project.ClearTextInfo();
  // -- $reloadstop --
VirtualDub.SaveAVI("%filename2%");
VirtualDub.audio.SetSource(1);
VirtualDub.Close();

